{% extends 'layout.html' %}

{% block title %}{{category.name}}{% endblock %}
{% block description %} {{category.description}} {% endblock %}

{% block content %}
<main class="container mx-auto">
    <section class="flex flex-col justify-center items-center p-10">
        <h1 class="text-3xl font-bold mt-4">Search Results</h1>
        <form action="{{doc_root}}search.php" class="mt-4" method="GET">
            <label class="sr-only" for="search">Search</label>
            <input class="border p-2" id="search" name="search" type="search" value="{{search_term}}">
            <button class="bg-blue-500 text-white p-2" type="submit">Search</button>
        </form>
    </section>
    <section class="flex flex-wrap p-8" id="content">
        {% include 'article-list.html' %}
    </section>
    {% if count > per_page %}
    <section class="flex justify-center items-center p-4">
        <nav>
            <ul class="flex justify-center items-center">
                {% if current_page > 1 %}
                <li class="m-2">
                    <a class="p-2 bg-blue-500 text-white"
                       href="{{doc_root}}search.php?search={{search_term}}&per_page={{per_page}}&offset={{offset - per_page}}">Previous</a>
                </li>
                {% endif %}
                {% for i in 1..total_pages %}
                <li>
                    <a class="p-2 text-white  {% if ( i == current_page )%} bg-pink-600 {% else %} bg-blue-500 {% endif %} ) ?>"
                       href="{{doc_root}}search.php?search={{search_term}}&per_page={{per_page}}&offset={{(i - 1 ) * per_page}}">{{i}}</a>
                </li>
                {% endfor %}
                {% if (current_page < total_pages) %}
                <li class="m-2">
                    <a class="p-2 bg-blue-500 text-white"
                       href="search.php?search={{search_term}}&per_page={{per_page}}&offset={{offset + per_page}}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </section>
    {% endif %}
</main>

{% endblock %}